<article class="post">
    <div class="post-title">
        <h2 class="title"><%= page.title %></h2>
    </div>
    <div class="post-meta">
        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>
    <div class="post-comment">
        <% if ((page.layout == 'post' || page.layout == 'page') && config.disqus_shortname && page.comments){ %>
        <script type="text/javascript">
            var disqus_shortname = '<%= config.disqus_shortname %>';
            var disqus_config = function () {
                this.page.url = '<%= config.url %>/<%= page.path %>';
                this.page.identifier = '/<%= page.path %>';
                this.page.title = '<%= page.title %>';
            };
            (function () {
                var d = document;
                var dsq = d.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>';
                (d.head || d.body).appendChild(dsq);
            })();
        </script>
        <% } %>
    </div>
</article>