<nav id="prev_next">
<% if (page.prev || page.next) { %>
<div class="prev">
    <% if (page.prev){ %>
    <p><%= __('Newer') %></p>
    <a href="<%- config.root %><%- page.prev.path %>"><div class="article-nav-title"><%= page.prev.title %></div></a>
    <% } %>
</div>
<div class="next">
    <% if (page.next){ %>
    <p><%= __('Older') %></p>
    <a href="<%- config.root %><%- page.next.path %>"><div class="article-nav-title"><%= page.next.title %></div></a>
    <% } %>
</div>
<% } %>
</nav>